{{> headerAdmin }}
<main>
    <form method="POST" action="/resultaten">
        <h2>Stemmen</h2>

        <div class="slider">
            <div class="slides">
                {{#each questions}}
                    <fieldset id="q{{id}}">
                        <legend>Vraag {{id}}</legend>
                        <h4>{{question}}</h4>
                        <div>
                            <p>
                                <input type="radio" name="vraag{{id}}" id="keuze{{id}}_a" value="a">
                                <label for="keuze{{id}}_a">A</label>
                            </p>
                        
                            <p>
                                <input type="radio" name="vraag{{id}}" id="keuze{{id}}_b" value="b">
                                <label for="keuze{{id}}_b">B</label>
                            </p>
                        </div>
                        
                    </fieldset>
                {{/each}}
            </div>

            <nav>
                <a><img src="" /></a>
                <a><img src="" /></a>
            </nav>
        </div>
        <p class="buttonContainer">
            <button type="submit">Stem!</button>
        </p>
    </form>
</main>