<main>
    <form method="POST" action="/resultaten">
        <h2>Vragen</h2>

        {{#each questions}}
            <fieldset>
                <legend>Vraag {{id}}</legend>
                <h3>{{question}}</h3>
                <p>
                    <label for="keuze{{1}}_a">A</label>
                    <input type="radio" name="vraag{{id}}" id="keuze{{id}}_a" value="a">
                </p>
                
                <p>
                    <label for="keuze{{id}}_b">B</label>
                    <input type="radio" name="vraag{{id}}" id="keuze{{id}}_b" value="b">
                </p>
            </fieldset>
        {{/each}}
        <p>
            <button type="submit">Stem!</button>
        </p>
    </form>
</main>